# Configuration file

compat {
    S:blacklist <
     >
}


custom {
    # Format: oreDictEntry,modID,Block,damageValue;oreDictEntry,modID,Block,damageValue;etc.
    S:blocks <
        oreZinc,contenttweaker,zinc_ore,0;
        oreChromium,contenttweaker,chromium_ore,0;
        oreManganese,contenttweaker,manganese_ore,0;

        oreMagnite,cavern,cave_block,2;

        oreTiberium,taiga,tiberium_ore,0;
        oreAurorium,taiga,aurorium_ore,0;
        orePrometheum,taiga,prometheum_ore,0;
        oreDuranite,taiga,duranite_ore,0;
        oreValyrium,taiga,valyrium_ore,0;
        oreVibranium,taiga,vibranium_ore,0;
        oreKarmesine,taiga,karmesine_ore,0;
        oreOvium,taiga,ovium_ore,0;
        oreJauxum,taiga,jauxum_ore,0;
        orePalladium,taiga,palladium_ore,0;
        oreUru,taiga,uru_ore,0;
        oreOsram,taiga,osram_ore,0;
        oreEezo,taiga,eezo_ore,0;
        oreAbyssum,taiga,abyssum_ore,0;
        oreDilithium,taiga,dilithium_ore,0;
    >

    # Format: oreDictEntry,modID,Item,damageValue;oreDictEntry,modID,Item,damageValue;etc.
    S:items <
     >
}


